@{
	ViewBag.Title = "Home Page";
}

<div class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="/" class="navbar-brand">我的記帳本</a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li><a href="#">首頁</a>
				<li><a href="#">關於</a>
				<li><a href="#">連絡方式</a>
			</ul>
		</div>
	</div>
</div>

@Html.Partial("_BillingInputForm")

<div class="row">
	<div class="col-md-12">
		<table class="table table-bordered table-hover">
			<tr>
				<th>#</th>
				<th>類別</th>
				<th>日期</th>
				<th>金額</th>
			</tr>
			<tr>
				<td>1</td>
				<td>支出</td>
				<td>2016-01-01</td>
				<td>300</td>
			</tr>
			<tr>
				<td>2</td>
				<td>支出</td>
				<td>2016-01-02</td>
				<td>1,600</td>
			</tr>
			<tr>
				<td>3</td>
				<td>支出</td>
				<td>2016-01-03</td>
				<td>8,00</td>
			</tr>
		</table>
	</div>
</div>
